-# coding: utf-8
!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title
      农商圈
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "", :name => "农产品资讯"}
    %meta{:content => "", :name => "pengke"}
    = stylesheet_link_tag 'bootstrap', 'bootstrap-responsive'
    = stylesheet_link_tag 'datetimepicker'
    %script{:src => "http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"}
    :css
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "#"} 
            农商圈
          .nav-collapse.collapse
            %ul.nav
              %li{:class => ('active' if @section == 'news')}
                %a{:href => "/news"}新闻
              %li{:class => ('active' if @section == 'price')}
                %a{:href => "/vegetable/price"}价格
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  最新报价
                  %b.caret
                %ul.dropdown-menu
                  %li{:class => ('active' if @section == 'category1')}
                    %a{:href => "/category/1"}蔬菜
                  %li{:class => ('active' if @section == 'category2')}
                    %a{:href => "/category/2"}粮油
                  %li{:class => ('active' if @section == 'category3')}
                    %a{:href => "/category/3"}干鲜
                  %li{:class => ('active' if @section == 'category4')}
                    %a{:href => "/category/4"}水果
                  %li{:class => ('active' if @section == 'category5')}
                    %a{:href => "/category/5"}禽肉
                  %li{:class => ('active' if @section == 'category6')}
                    %a{:href => "/category/6"}水产
                  %li{:class => ('active' if @section == 'category7')}
                    %a{:href => "/category/7"}生猪
                  %li{:class => ('active' if @section == 'category8')}
                    %a{:href => "/category/8"}仔猪
                  %li{:class => ('active' if @section == 'category9')}
                    %a{:href => "/category/9"}种猪

              %li.last
                %a{:href => "#"}联系我们
            - if logged_in?
              %p.navbar-text.pull-right
                %a.navbar-link 
                  = current_account.email
                %a.navbar-link{:href => '/logout'} 退出
            - else
              %form.navbar-form.pull-right{:action => '/sessions/create', :method => 'post', 'accept-charset' => 'UTF-8'}
                %input.span2{:placeholder => "邮箱", :type => "email", :name => 'email'}
                %input.span2{:placeholder => "密码", :type => "password", :name => 'password'}
                %button.btn{:type => "submit"} 登入
                %a.btn{:href => '/register'} 注册

    .container    
      = yield
      %footer
        %p &copy; Company 2013


    = javascript_include_tag 'bootstrap'
